<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div>

    <h2>Введите фамилию имя и отчество</h2>
    <form action="/buy-ticket" method="post" id="buy">
        <p><b>Ваше имя:</b><br>
            <input type="text" name="firstname" size="40" required/>
        <p><b>Ваше фамилия:</b><br>
            <input type="text" name="surname" size="40" required/>
        <p><b>Ваше Отчество:</b><br>
            <input type="text" name="patronomic" size="40" required/>
        </p>
        <table border="1">
            <tr>
                <td>Отправление</td>
                <td>Прибытие</td>
                <td>Время отправления</td>
                <td>Цена</td>
                <td>Кол-во билетов</td>
            </tr>
            <tr th:each="route: ${routeList}">
                <input type="number" th:value=${route.id} form="buy" hidden>
                <td width="100" th:text="${route.output.city}"/>
                <td width="100" th:text="${route.input.city}"/>
                <td width="180" th:text="${route.departureTime}"/>
                <td width="50" th:text="${route.value}"/>
                <td width="150">
                    <span th:if="${route.count} > 0" th:text="${route.count}"/>
                    <span th:if="${route.count} == 0" th:text="'Свободных мест нет'"/>
                </td>
                <td width="40">
                    <span th:if="${route.count} > 0">
                        <input type="radio" name=id th:value="${route.id}" required/>
                    </span>
                    <span th:if="${route.count} == 0">
                        <input type="radio" name=id th:value="${route.id}" disabled/>
                    </span>
                </td>
            </tr>
        </table>
        <br>
        <input type="submit" value="Купить билет">
    </form>

    <br>
    <br>
    <span th:if="${billetPresent} == true">
    <h1 color="green">Номер биллета - <td th:text="${billetIndex}"/></h1>
    </span>
</div>
</body>
</html>